h2{
    color: #39C5BB;
}
.color{
    color: red;
}
.size{
    font-size: 70px;
}
#thisId{
    font-style: initial;
    font-family: fantasy;
    color: blue;
}
/* * for all (default) */
*{
    font-weight: 900;
    color: #5f5f5f;
}