p{
    text-indent: 4em;
    /* em 一个字的长度 */
    /* 三倍行高，也可以用px */
    line-height: 3;
}
h1{
    /* 100字重 斜体 字体 90字体大小 2倍行高 */
    font:100 italic "sans-serif" 90px/2;
    /* 内容水平对齐方式， 包括图片等 */
    text-align: center;

    text-decoration: overline;
}
.image{
    text-align: center;
}
.center{
    width: 80em;
    height: auto;
    background-color: pink;
    margin: 0 auto;
}

.pink{
    background-color: pinksd;
}