div p{
    font-size: 70px;
    color: #39C5BB;
}

div a{
    color: red;
}
/* only for son */
div > a{
    text-decoration: none;
}

a,
p{
    background-color: #808080;
}

p.box#b1{
    text-decoration: overline;
}

div > p > a:hover{
    /* h200+w500+bgc */
    height: 200px;
    width: 500px;
    background-color: pink;
    color: #39C5BB;
}